*, a, button {
  cursor: default !important;
  user-select: none !important;
}

#site-header-parent-container {
  -webkit-app-region: drag !important;
}

#googleButtonLabel {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont !important;
  background-image: linear-gradient(90deg,#4285F4,#DB4437,#F4B400,#0F9D58) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-color: #ffb23e !important;
  font-weight: bold !important;
}

.sky-theme-modern .sky-btn-primary {
  background-color: #FFFFFF !important;
  box-shadow: inset 0 0 0 1px #d2d2d2 !important;
}

.spa-auth-googlesignin-primary-logo-button {
  border-radius: 11px 0 0 11px !important;
}

.spa-auth-googlesignin-primary-button {
  border-radius: 0 11px 11px 0 !important;
}

.sky-theme-modern .sky-btn-default:hover {
  background-color: #d7dae359 !important;
  box-shadow: inset 0 0 0 1px #d2d2d2 !important;
}

.sky-btn-primary:hover {
  background-color: #d7dae359 !important;
  box-shadow: inset 0 0 0 1px #d2d2d2 !important;
}

.sky-page-heading {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont !important;
  background-image: linear-gradient(90deg,#c74677,#d65372,#e2616e,#ec716a,#f38168,#f99267,#fda468,#ffb56b) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-color: #ffb23e !important;
  font-weight: bold !important;
}

.banner-logo {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Dark mode */
.dark {
  background-color: #000 !important;
  color: #fff !important;
}

.light {
  background-color: #fff !important;
  color: #000 !important;
}