/* Global CSS modifiers */
*, a, button {
  cursor: default !important; /* Show the default cursor at all times to simulate a native experience */
  user-select: none !important; /* Show the default cursor at all times to simulate a native experience */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont !important; /* Use macOS's font to become a good Apple citizen */
  font-size: 13px !important; /* Use a smaller font size to fit more content on the screen */
}

.topnav { /* Allow navigation bars to be interacted with */
  -webkit-app-region: no-drag !important;
}

#site-header-parent-container { /* Allow site headers to move the app */
  -webkit-app-region: drag !important;
}

.dark {
  background-color: #1f1f1f !important;
  color: #F5EFF7 !important;
  /* background-color: #322F35 !important; */
}

.light {
  background-color: #FEF7FF !important;
  color: #1D1B20 !important;
}

/* ----------- */

/* Modifiers for the page viewed on first run */
.banner-logo { /* Center the logo */
  margin-left: auto !important;
  margin-right: auto !important;
}

.sky-page-heading { /* Modify the welcome heading to look better */
  background-image: linear-gradient(90deg,#c74677,#d65372,#e2616e,#ec716a,#f38168,#f99267,#fda468,#ffb56b) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-color: #ffb23e !important;
  font-weight: bold !important;
  font-size: 35px !important;
}

#googleButtonLabel { /* Modify the Sign in with Google text to look better */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont !important;
  background-image: linear-gradient(90deg,#4285F4,#DB4437,#F4B400,#0F9D58) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-color: #ffb23e !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

.spa-auth-button-full { /* Use 20px border radius on the Sign in with Google button */
  border-radius: 20px
}

svg { /* Fix the Google logo looking terrible */
  line-height: 1 !important;
}

/* ----------- */

/* Modifiers for MyPoly in general */
.caret { /* Fix issues that occur after switching to macOS native font */
  font: normal normal normal 14px/1 Times !important;
}

.fa { /* Fix other issues that occur after switching to macOS native font */
  font: normal normal normal 14px/1 FontAwesome !important;
}

.bb-tile-header { /* After unifying font size, this ensures headers will be readable*/
  font-weight: bold !important;
  font-size: 20px !important;
}

.btn { /* Use 20px border radius on all buttons */
  border-radius: 20px !important;
}

.sky-btn-default:hover {
  background-color: #d7dae359 !important;
}

.subnavbar .nav>li>a {
  border-radius: 20px !important;
}

#assignment-center-btn:hover {
  background-color: #2021240a !important;
}

#course-requests-btn:hover {
  background-color: #2021240a !important;
}

#schedule-btn:hover {
  background-color: #2021240a !important;
}

#progress-btn:hover {
  background-color: #2021240a !important;
}